.new_program{
    font-family: iranSans;
    text-align: center;
    font-style: italic;
}
::-webkit-input-placeholder{
    font-family: iranSans;
    text-overflow: ellipsis;
}
::-moz-placeholder{
    font-family: iranSans;
    text-overflow: ellipsis;
}
:-ms-input-placeholder{
    font-family: iranSans;
    text-overflow: ellipsis;
}
::-ms-input-placeholder{
    font-family: iranSans;
    text-overflow: ellipsis;
}
::placeholder{
    font-family: iranSans;
    text-overflow: ellipsis;
}
.new_program > form{
    display: inline-block;
    padding: 2rem;
    width:50%;
    text-align: right;
}
.new_program > form > fieldset{
    padding: 1rem;
    border-radius: 5px;
}
.new_program >form legend{
    font-weight: bold;
}
.new_program > form > fieldset > div {
    padding:0.5rem;
}
.new_program > form > fieldset > div > div#bank_image_container{
    left:0;
}
.new_program > form > fieldset > div > label{
    display: block;
}
.new_program > form > fieldset > div > span label{
    cursor: pointer;
}
.new_program > form > fieldset > div > input{
    width:100%;
    padding:0.25rem;
}
.new_program > form > fieldset > div input[type="number"],
.new_program > form > fieldset > div select{
    width:100%;
    padding:0.25rem;
}

.new_program > form > fieldset > div select{
    font-family: iranSans;
}

.new_program > form > fieldset > span{
    padding: 0.5rem;
}
.new_program > form > fieldset > div > button{
    width:100%;
    padding:0.25rem;
    background-color: #28a745;
    color:white;
    border-radius: 5px;
    font-family: iranSans;
}

.new_program > form > fieldset > div#daily > span > label{
    display:inline-block;
    width:100px;
}
.new_program > form > fieldset > div#weekly > span > label{
    display:inline-block;
    width:100px;
}
.new_program > form > fieldset > div#monthly > span > label{
    display:inline-block;
    width:70px;
}
p#error_message_30_31{
    color:Red;
    font-size: 0.75rem;
}
input.card_number{
    direction: ltr;
    text-align: right;
}

@media screen and (max-width:890px){
    .new_program > form > fieldset > div > input[type="number"]{
        width:100%;
    }
    .new_program > form{
        width:90%;
    }
}

@media screen and (max-width:400px) {
    .new_program > form > fieldset > div > span label{
        display: inline-block;
        width:100%;
    }
}
