@font-face{
    src: url('../fonts/IRANSansWeb_Bold.ttf') format('truetype');
    font-family: iranSans;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.displayNone{
    display: none;
}

body{
    direction: rtl;
}

h1, h2, h3, h4, h5, h6{
    font-family: iranSans;
}