main{
    border-top:3px solid gray;
}

main > div.welcome{
    text-align: center;
}
main > div.welcome > p{
    font-family: iranSans;
    padding:1rem;
}
main > div.welcome > p > span{
    color: #28a745;
    font-weight: bold;
}
