
div.register form{
    width:50%;
    transform: translateX(-50%);
    margin-left:50%;
    font-family: iranSans;
}

div.register form > fieldset{
    border-radius: 15px;
    padding:1.5rem;
}

div.register form > fieldset > legend{
    font-weight: bold;
}

div.register form > fieldset > div{
    padding:1.5rem;
}

div.register form > fieldset > div > input:not(.register_button), 
div.register form > fieldset > div > label{
    display: inline-block;
    width: 100%;
    font-style: italic;
}

/* form fields */
div.register form > fieldset > div > input:not(.register_button){
    padding:0.5rem;
    border:none;
    background-color: lightgray;
    border-radius: 5px;
}

/* form fields on focus: */
div.register form > fieldset > div > input:focus{
    border-bottom:1px solid gray;
    box-shadow: none;
    outline: none;
}

/* register submit button */
div.register form > fieldset > div > button[value="registered"]{
    font-style: italic;
    font-family: iranSans;
    padding:0.5rem;
    border-radius: 5px;
    color:white;
    background-color: #28a745 ;
    width:100%;
    cursor: pointer;
}

/* not a member text: */
div.register form > fieldset > div > p{
    font-family: iranSans;
    font-style: italic;
}

/* register submit button */
div.register form > fieldset > div > p > button[value="signin"]{
    border:none;
    font-family: iranSans;
    outline:none;
    background-color:transparent;
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}