nav.top_time_and_date{
    background-color: lightblue;
    /* border-bottom: 3px solid gray; */
}
nav.top_time_and_date > p.top_time_and_date{
    padding:0.25rem 1rem;
    text-align: center;
    font-size: 0.75rem;
    text-decoration: none;
}